.main {
	height: auto;
	min-height: 400px;
	width: 100%;
	background-color: rgb(245, 255, 109);
	display: flex;
	justify-content: center;
	align-items: center;

}

.main__red {
	height: auto;
	min-height: 400px;
	width: 100%;
	background-color: rgb(255, 106, 69);
	display: flex;
	justify-content: center;
	align-items: center;
}
