$primary-color: #007bff;
$secondary-color: #28a745;
$hover-color: #0056b3;
$hover-color-register: #218838;

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #333;
	color: white;
	font-size: 20px;
}

.navList {
	list-style: none;
	display: flex;
	gap: 40px;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-grow: 1;
}

.navItem a {
	color: white;
	text-decoration: none;
	transition: color 0.3s;
}

.navItem a:hover {
	color: #ff6347;
}
