.signin {
	width: 400px;
	height: 400px;
	background-color: aliceblue;
	border-radius: 15px;

	&__wrapper {
		display: flex;

		flex-direction: column;
		row-gap: 30px;
		width: 400px;
		height: 400px;
		background-color: aliceblue;
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 15px;
	}
}

.linkButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	display: inline;
	margin: 0;
	padding: 0;
}
